{% extends "base.html" %}

{% block content %}
<main>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-5 text-center">
                    {% if user.profile %}
                    <hr>
                    <h2><strong>Profile</strong></h2>
                    <img src="{{profile.profile_pic.url}}" class="img-fluid mb-2" alt="" style="max-width:140px;height:140px; border-radius:50%;">
                    <p><span><strong>Username</strong></span>: {{profile.user.username}}</p>
                    <p><span><strong>Bio:</strong></span> {{profile.bio}} </p>
                    <p><span><strong>email</strong></span>: {{profile.user.email}} </p>
                    {%else %}
                    <div class="upload m-3">
                        <a href="{% url 'updateprofile' user.id %}" class="btn btn-primary">Add profile info</a>
                    </div>
                    <hr>
                    {% endif %}

                    <div class="contacts">
                        <h2><strong>Contacts</strong></h2>
                        {% if contact %}
                        <p><i class="fa-solid h4 fa-phone"></i> {{contact.phone_no}}</p>
                        <p> <a href="{{contact.github}}"> <i class="fa-brands h2 fa-github text-dark"></i></a>
                            <a href="{{contact.linkedin}}"> <i class="fa-brands h2 fa-linkedin"></i></a>
                            <a href="{{contact.twitter}}"> <i class="fa-brands h2 fa-twitter"></i></a>
                            <a href="{{contact.email}}"> <i class="fa-solid h2 fa-envelope text-danger"></i></a> </p>
                        {% else %}
                        <div class="upload m-3">
                            <a href="{% url 'contacts' user.id %}" class="btn btn-primary">Add Contact Info</a>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 mt-4">
                    <h1 class="text-center">My Projects</h1>
                    <div>
                        <p> User has {{projects | length}} projects</p>
                        {% if projects %}
                        {% for project in projects %}
                        <div class=" mb-5">
                            <h2>{{project.title}}</h2>
                            <hr>
                            <p>{{project.description}}</p>
                            <!-- <p>{{project.user.username}}</p> -->
                            <p>
                                <img src="{{project.image.url}}" class="img-fluid" alt="">
                            </p>
                            <p>
                                <a class="float-left btn btn-dark btn-sm"
                                    href="{% url 'project_details' project.id %}">Project Details</a>
                                <a class="float-right btn btn-dark btn-sm" href="{{project.url}}">View Project</a>
                            </p>
                        </div>
                        {% endfor %}

                        {% else %}
                        <p>No projects</p>
                        {% endif %}
                        <hr class="mt-2">
                        <div class="upload mt-5 text-center">
                            <a href="{% url 'upload_project' %}" class="btn btn-primary">Upload project</a>
                        </div>
                    </div>
                </div>
            </div>
    </section>

</main>


{% endblock %}