{% extends "base.html" %}
{% block content %}
<main>
    <section>
        <div class="container-fluid">
            <div class="row ">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-6 text-center mt-4">
                    <h2><strong>{{user.username}}'s Profile details</strong></h2>

                    <hr>
                    <img src="{{user.profile.profile_pic.url}}" class="img-fluid mb-2" alt=""
                        style="max-width:140px;height:140px; border-radius:50%;">
                        <p><span><strong>Username</strong></span>: {{user.username}}</p>
                        <p><span><strong>Bio:</strong></span> {{user.profile.bio}} </p>
                        <p><span><strong>email</strong></span>: {{user.email}} </p>

                    <hr>
                    <div class="contacts">
                        <h2><strong>Contacts</strong></h2>
                        {% if user.contacts %}
                        <p><i class="fa-solid h4 fa-phone"></i> {{contact.phone_no}}</p>
                        <p> <a href="{{contact.github}}"> <i class="fa-brands h2 fa-github text-dark"></i></a>
                            <a href="{{contact.linkedin}}"> <i class="fa-brands h2 fa-linkedin"></i></a>
                            <a href="{{contact.twitter}}"> <i class="fa-brands h2 fa-twitter"></i></a>
                            <a href="{{contact.email}}"> <i class="fa-solid h2 fa-envelope text-danger"></i></a> </p>



                        {% else %}
                        <p>No contact information</p>
                        {% endif %}
                    </div>

                    <hr>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                    <h1 class="text-center">Projects</h1>
                    <div>

                        <!-- {{project}} -->
                        <p> User has {{user.projects.all| length}} projects</p>
                        {% if user.projects %}
                        {% for project in user.projects.all %}
                        <div>
                            <h2>{{project.title}}</h2>
                            <hr>
                            <p>{{project.description}}</p>
                            <!-- <p> {{project.user.username}}</p> -->
                            <p><img src="{{project.image.url}}" class="img-fluid" alt="" style="height:240px; border-radius:10px;">
                            </p>
                            
                                <p>
                                    <a class="float-left btn btn-dark btn-sm"
                                        href="{% url 'project_details' project.id %}">Project Details</a>
                                    <a class="float-right btn btn-dark btn-sm" href="{{project.url}}">View Project</a>
                                </p>
                        </div>
                        {% endfor %}

                        {% else %}
                        <p>No projects</p>
                        {% endif %}


                    </div>
                </div>
            </div>
    </section>

</main>
{% endblock content %}