{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <!-- Home Slider -->
    <div id="carouselExampleIndicators" class="carousel slide mt-2" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for project in projects %}
            {% if forloop.counter == 1 %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}" class="active"></li>
            {% else %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}"></li>
            {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for project in projects %}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                    {% endif %}
                    <img src="{{project.image.url}}" class="d-block  img-fluid" alt="..." height="50vh">
                    <div class="carousel-caption d-none d-md-block">

                        <p class="h4 text-light bold fw-5 fs-1"> {{project.title}}</p>
                            <!-- Rated <br> -->
                            <!-- <span class="avg border"><strong class="avg-span">Usability : 7.90 {{avg_usability.avg_rating}} </strong></span> |
                            <span><strong class="avg-span">Content : 7.90</strong></span> |
                            <span><strong class="avg-span">Design: 7.90</strong></span></p> --> 


                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <h3 class="text-center mt-5 mb-0">All projects</h3>
    <div class="project-cont">

        {% for project in projects%}
        <div class="card ind-project">
            <h3>{{ project.title }}</h3>

            <p><img src="{{project.image.url}}" alt="" class="img-fluid" width="50%">
            </p>
            <div class="div">
                <p class="float-left mx-3"> <a href="project/details/{{ project.id }}"
                        class="btn btn-dark btn-sm">Project Details</a>

                    <p class="float-right mx-3"><a href="{{ project.url }}" class="btn btn-light btn-sm">Live
                            project</a> </p>
            </div>
            <div class="card-footer bg-white">
                <a href="" class=""><strong>By:
                        {{ project.user.username }}</strong></a>

            </div>
            <!-- <p>{{ project.description }}</p> -->
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}