{% extends "base.html" %}
{% block content %}
<div class="project-details">
    <div class="container-fluid mt-4">
        <div class="row">
            {% if user.is_authenticated %}
            <div class="col-md-6 col-sm-12 col-lg-6">
                <p class="lead">project id: {{project.id}}</p>
                <div class="title">
                    <h1>{{project.title}}</h1>
                    <img src="{{project.image.url}}" alt="" class="img-fluid">
                    <div class="ml-3 mt-3 p-5">
                        <a href="{% url 'other_user_profile' user.id %}" class="float-left mt-3 mx-3 h4"><strong>By:
                                {{ project.user.username }}</strong></a>
                        <a href="{{project.url}}" class="btn btn-light btn-sm float-right">View project</a> <br>
                        <p></p>
                    </div>
                    <div class="ml-3 mt-5">
                        <strong class="mt-5 text-center"> <strong></strong> Description: </strong>
                        <p>{{project.description}}</p>
                    </div>
                </div>


            </div>
            {% endif %}

            <!-- Product Review modal -->
            {% if user.is_authenticated %}

            <div class="col-md-6 col-sm-12 col-lg-6">
                {% if canAdd %}
                <button type="button" class="text-center btn btn-warning btn-sm" data-toggle="modal"
                    data-target="#productReview">
                    Add a review
                </button>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="productReview" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Project Review</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'add_review' project.id %}" method="post" id="addForm">
                                    {% csrf_token %}
                                    {{form}}
                                    <div class="colspan-2 mt-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <input type="reset" class="btn btn-secondary" value="Reset" id="reset">
                                    </div>
                                    <p class="ajaxRes"></p>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Product Review modal -->

                <!-- Displaying reviews -->
                <div class="reviews">
                    <h3 class="text-center">Rating</h3>
                    
                    <hr>
                    <h4><strong>Average</strong></h4>
                    <small> <strong></strong></small>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <h4><strong>Usability</strong></h4>
                            <h5> <strong>{{avg_usability.avg_rating}}</strong></h5>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <h4><strong>Content</strong></h4>
                            <h5> <strong>{{avg_content.avg_rating}}</strong></h5>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <h4><strong>Design</strong></h4>
                            <h5> <strong>{{avg_design.avg_rating }}</strong></h5>
                        </div>
                    </div>


                    <!-- <h2 class="text-center">Average rtyuio</h2>
                    {{user}}
                    <br>
                    <span class="h3">Average: {{avg_ratings.avg_rating}}</span> <br>
                    <span class="h3">Average reviews: {{avg_reviews}}</span> <br>
                    <span class="h4">content Average: {{avg_content.avg_rating}}</span> <br>
                    <span class="h4">usability Average: {{avg_usability.avg_rating}}</span> <br>
                    <span class="h4">design Average: {{avg_design.avg_rating }}</span> <br> -->
                    <h3 class="text-center bold">Reviews</h3>
                    
                
                    <hr>
                    {% if reviews %}
                    {% for review in reviews %}
                    <div class="card m-3">
                        <div class="card-body review-list">
                            <!--review details -->
                            <blockquote class="blockquote ">
                                <small class="text-left">{{review.review}}</small>
                                <footer class="blockquote-footer text-right "> {{review.user.username}} <br>
                                    <cite title="Source Title">
                                        <strong><small>Content</small></strong>
                                        {% for star in review.content_rating|ljust:review.content_rating %}

                                        <i class="fa fa-star text-warning"></i>
                                        {% endfor %}
                                    </cite> <br>
                                    <cite title="Source Title">
                                        <strong><small>Usability</small></strong>
                                        {% for star in review.usability_rating|ljust:review.usability_rating %}

                                        <i class="fa fa-star text-warning"></i>
                                        {% endfor %}
                                    </cite>
                                    <br>
                                    <cite title="Source Title">
                                        <strong><small>Design</small></strong>

                                        {% for star in review.design_rating|ljust:review.design_rating %}


                                        <i class="fa fa-star text-warning"></i>
                                        {% endfor %}

                                    </cite>

                                </footer>
                            </blockquote>

                        </div>

                    </div>
                    <hr>
                    {% endfor %}
                    {% else %}
                    <p class="no-data">
                        No reviews yet. Add First Review.
                    </p>
                </div>
                {% endif %}
                <!--End Displaying reviews -->


            </div>
        </div>
    </div>
    {% endif %}
    {% endblock content %}